#box {
    width: 200px;
    height: 200px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
form, .calculator {
    width: 550px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    background-color: grey;
}
#display {
    grid-column: 1/5;
    background-color: ghostwhite;
}
button:hover {
    background-color: peachpuff;
}

button, input {
    border: 1px solid black;
    border-radius: 10px;
    text-transform: capitalize;
    padding: 20px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: red;
    font-weight: bold;
    font-size: 44px;
}
.square {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid silver;
    background-color: gainsboro;
    margin: 100px auto;
}

